body {
      font-family: 'Phudu', cursive;
      margin: 0%;
}

h1 {
      font-size: 60px;
}

.col {
      color: chocolate;
}

.colour {
      color: rgb(4, 214, 109);
      font-size: 80px;
}

.big {
      font-size: 100px;
      color: red;
}

section {
      display: flex;
      margin-bottom: 100px;
}

.half-wid {
      width: 60%;
      padding: 5%;
}

.ex-area {
      box-shadow: 10px 10px 40px grey;
      width: 50%;
      margin-left: 5%;
      margin-right: 5%;
      padding: 5px 5px;
      border-radius: 5%;
}

.half-wid image {
      width: 100%;
}

.hmb {
      text-decoration: none;
      background-image: linear-gradient(orange, tomato);
      padding: 10px 40px;
      border-radius: 8%;
      font-weight: 500;
      color: white;
}

.color {
      color: darkblue;
}

.top-banner {
      background-image: url(images/top-banner.png);
      background-repeat: no-repeat;
}

.bg-circle {
      background-image: url(images/dream-bg.png);
      background-repeat: no-repeat;
      background-position: right;
}

.mrgn {
      display: flex;
      padding: 100px;
}

.xperience {
      background-image: url(images/exp-bg.png);
      background-repeat: no-repeat;
}

#full-stack {
      border-left: 7px solid blue;
}

#baby-web {
      border-left: 7px solid green;
}

footer p {
      text-align: center;
}